<header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
  <div class="container-fluid d-flex align-items-center">
    <div class="d-flex flex-wrap justify-items-center align-items-center justify-content-md-between w-100">
      <h1 class="d-flex align-items-center fs-4 text-white mb-0">
        <img src="<%= image_path("bootstrap-logo-white.svg") %>" width="38" height="30" class="me-3" alt="Bootstrap">
        <a href="/" class="text-white text-decoration-none">Account</a>
      </h1>
     
      <div class="text-end">
        <% if user_signed_in? %>
          <span class="text-white mx-2"><%= current_user.email %></span>
          <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-warning", data: { turbo_method: "delete" } %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light me-2" %>
          <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
  </div>
</header>